###############################################################################
##  This .gitignore is created based on the following link:                  ##
##    http://www.bmchild.com/2012/06/git-ignore-for-java-eclipse-project.html##
##  If you find other files not necessary to be tracked by git, please edit. ##
###############################################################################

# IntelliJ IDEA #
# Reference: http://stackoverflow.com/a/29998583 #
# *.iml

# IntelliJ IDEA Directory-based project format: #
# Reference: http://stackoverflow.com/a/29998583 #
**/.idea

# Directories #
/build/
/bin/
target/

 
*.class
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini

######################
# OSX
######################
 